doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Alur Kerja Branching

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body
    <div class="header">
    p Pilih Persentasi:  <select onchange="location.href=this.options[this.selectedIndex].value">
    <option value="index.html">Branching Pada Git</option></a>
    <option value="Manajemen Branch.html">Manajemen Branch</option></a>
    <option value="Alur Kerja Branching.html">Alur Kerja Branching</option></a>
    <option value="" selected="1">Remote Branches.html</option></a>
    </select>
    </div>
    article

      section
        h1 Remote Branches
        h2 Orange Team
      section
        h3 Remote Branches
        p Remote branches are references to the state of branches on your remote repositories. They’re local branches that you can’t move; they’re moved automatically whenever you do any network communication. Remote branches act as bookmarks to remind you where the branches on your remote repositories were the last time you connected to them.
      section
        p This may be a bit confusing, so let’s look at an example. Let’s say you have a Git server on your network at git.ourcompany.com. If you clone from this, Git automatically names it origin for you, pulls down all its data, creates a pointer to where its master branch is, and names it origin/master locally; and you can’t move it. Git also gives you your own master branch starting at the same place as origin’s master branch, so you have something to work from (see Figure 3-22).
      section
        <img src="">
        p Figure 3-22. A Git clone gives you your own master branch and origin/master pointing to origin’s master branch.
      section
        p If you do some work on your local master branch, and, in the meantime, someone else pushes to <strong>git.ourcompany.com</strong> and updates its master branch, then your histories move forward differently. Also, as long as you stay out of contact with your origin server, your <strong>origin/master</strong> pointer doesn’t move (see Figure 3-23).
      section
        <img src="">
        p Figure 3-23. Working locally and having someone push to your remote server makes each history move forward differently.
      section
        p To synchronize your work, you run a <strong>git fetch origin</strong> command. This command looks up which server origin is (in this case, it’s git.ourcompany.com), fetches any data from it that you don’t yet have, and updates your local database, moving your origin/master pointer to its new, more up-to-date position (see Figure 3-24).
      section
        <img src="">
        p Figure 3-24. The git fetch command updates your remote references.
      section
        p To demonstrate having multiple remote servers and what remote branches for those remote projects look like, let’s assume you have another internal Git server that is used only for development by one of your sprint teams. This server is at <strong>git.team1.ourcompany.com</strong>. You can add it as a new remote reference to the project you’re currently working on by running the <strong>git remote add</strong> command. Name this remote <strong>teamone</strong>, which will be your shortname for that whole URL (see Figure 3-25).
      section
        <img src="">
        p Figure 3-25. Adding another server as a remote.
      section
        p Now, you can run <strong>git fetch teamone</strong> to fetch everything the remote <strong>teamone</strong> server has that you don’t have yet. Because that server is a subset of the data your origin server has right now, Git fetches no data but sets a remote branch called <strong>teamone/master</strong> to point to the commit that <strong>teamone</strong> has as its <strong>master</strong> branch (see Figure 3-26).
      section
        <img src="">
        p Figure 3-26. You get a reference to teamone’s master branch position locally.
      section
        h3 Pushing
        p When you want to share a branch with the world, you need to push it up to a remote that you have write access to. Your local branches aren’t automatically synchronized to the remotes you write to — you have to explicitly push the branches you want to share. That way, you can use private branches for work you don’t want to share, and push up only the topic branches you want to collaborate on.
      section
        p If you have a branch named <strong>serverfix</strong> that you want to work on with others, you can push it up the same way you pushed your first branch. Run <strong>git push (remote) (branch)</strong>:
        pre
        code.language-bash.
          $ git push origin serverfix
          Counting objects: 20, done.
          Compressing objects: 100% (14/14), done.
          Writing objects: 100% (15/15), 1.74 KiB, done.
          Total 15 (delta 5), reused 0 (delta 0)
          To git@github.com:schacon/simplegit.git
           * [new branch]      serverfix -> serverfix
      section
        p This is a bit of a shortcut. Git automatically expands the serverfix branchname out to <strong>refs/heads/serverfix:refs/heads/serverfix</strong>, which means, “Take my serverfix local branch and push it to update the remote’s serverfix branch.” We’ll go over the <strong>refs/heads/</strong> part in detail in Chapter 9, but you can generally leave it off. You can also do <strong>git push origin serverfix:serverfix</strong>, which does the same thing — it says, “Take my serverfix and make it the remote’s serverfix.” You can use this format to push a local branch into a remote branch that is named differently. If you didn’t want it to be called <strong>serverfix</strong> on the remote, you could instead run <strong>git push origin serverfix:awesomebranch</strong> to push your local <strong>serverfix</strong> branch to the <strong>awesomebranch</strong> branch on the remote project.
      section
        p The next time one of your collaborators fetches from the server, they will get a reference to where the server’s version of <strong>serverfix</strong> is under the remote branch <strong>origin/serverfix</strong>:
        pre
        code.language-bash.
          $ git fetch origin
          remote: Counting objects: 20, done.
          remote: Compressing objects: 100% (14/14), done.
          remote: Total 15 (delta 5), reused 0 (delta 0)
          Unpacking objects: 100% (15/15), done.
          From git@github.com:schacon/simplegit
           * [new branch]      serverfix    -> origin/serverfix
      section
        p It’s important to note that when you do a fetch that brings down new remote branches, you don’t automatically have local, editable copies of them. In other words, in this case, you don’t have a new <strong>serverfix</strong> branch — you only have an <strong>origin/serverfix</strong> pointer that you can’t modify.
      section
        p To merge this work into your current working branch, you can run git <strong>merge origin/serverfix</strong>. If you want your own <strong>serverfix</strong> branch that you can work on, you can base it off your remote branch:
        pre
        code.language-bash.
          $ git checkout -b serverfix origin/serverfix
          Branch serverfix set up to track remote branch 
          refs/remotes/origin/serverfix.
          Switched to a new branch "serverfix"
        p This gives you a local branch that you can work on that starts where <strong>origin/serverfix</strong> is.
      section
        h3 Tracking Branches
        p Checking out a local branch from a remote branch automatically creates what is called a <strong>tracking branch</strong>. Tracking branches are local branches that have a direct relationship to a remote branch. If you’re on a tracking branch and type git push, Git automatically knows which server and branch to push to. Also, running <strong>git pull</strong> while on one of these branches fetches all the remote references and then automatically merges in the corresponding remote branch.
      section
        p When you clone a repository, it generally automatically creates a <strong>master</strong> branch that tracks <strong>origin/master</strong>. That’s why <strong>git push</strong> and <strong>git pull</strong> work out of the box with no other arguments. However, you can set up other tracking branches if you wish — ones that don’t track branches on <strong>origin</strong> and don’t track the <strong>master</strong> branch. The simple case is the example you just saw, running <strong>git checkout -b [branch] [remotename]/[branch]</strong>. If you have Git version 1.6.2 or later, you can also use the <strong>--track</strong> shorthand:
      section
        pre
        code.language-bash.
          $ git checkout --track origin/serverfix
          Branch serverfix set up to track remote branch 
          refs/remotes/origin/serverfix.
          Switched to a new branch "serverfix"
      section
        p To set up a local branch with a different name than the remote branch, you can easily use the first version with a different local branch name:
        pre
        code.language-bash.
          $ git checkout -b sf origin/serverfix
          Branch sf set up to track remote branch 
          refs/remotes/origin/serverfix.
          Switched to a new branch "sf"
        p Now, your local branch sf will automatically push to and pull from origin/serverfix.
      section
        h3 Deleting Remote Branches
      section
        p Suppose you’re done with a remote branch — say, you and your collaborators are finished with a feature and have merged it into your remote’s master branch (or whatever branch your stable codeline is in). You can delete a remote branch using the rather obtuse syntax git push [remotename] :[branch]. If you want to delete your serverfix branch from the server, you run the following:
        pre
        code.language-bash.
          $ git push origin :serverfix
          To git@github.com:schacon/simplegit.git
          - [deleted]         serverfix
      section
        p Boom. No more branch on your server. You may want to dog-ear this page, because you’ll need that command, and you’ll likely forget the syntax. A way to remember this command is by recalling the <strong>git push [remotename] [localbranch]:[remotebranch]</strong> syntax that we went over a bit earlier. If you leave off the <strong>[localbranch]</strong> portion, then you’re basically saying, “Take nothing on my side and make it be <strong>[remotebranch]</strong>.”
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild