doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Keamanan Komputer

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body(class="cube" id="#main")
    <div class="header">
    p Pilih Persentasi:  <select onchange="location.href=this.options[this.selectedIndex].value">
    <option value="" selected="1">Keamanan Jaringan</option></a>
    <option value="Pengamanan Pada Linux.html">Pengamanan Pada Linux</option></a>
    <option value="Pengamanan Pada Windows.html">Pengamanan Pada Windows</option></a>
    <option value="Pengamanan Pada File.html">Pengamanan Pada File</option></a>
    <option value="Pengamanan Pada Registry.html">Pengamanan Pada Registry</option></a>
    </select>
    <select onchange="location.href=this.options[this.selectedIndex].value">
    <option value="#1">Slide 1</option></a>
    <option value="#2">Slide 2</option></a>
    <option value="#3">Slide 3</option></a>
    <option value="#4">Slide 4</option></a>
    <option value="#5">Slide 5</option></a>
    <option value="#6">Slide 6</option></a>
    <option value="#7">Slide 7</option></a>
    <option value="#8">Slide 8</option></a>
    <option value="#9">Slide 9</option></a>
    <option value="#10">Slide 10</option></a>
    <option value="#11">Slide 11</option></a>
    <option value="#12">Slide 12</option></a>
    <option value="#13">Slide 13</option></a>
    <option value="#14">Slide 14</option></a>
    </select>
    </div>
    article

      section
        h1 Keamanan Komputer
        h2 Orange Team
      section
        h2 Pengamanan pada Sistem Operasi
        h3 Operating System atau OS adalah perangkat lunak sistem yang bertugas untuk melakukan kontrol dan manajemen perangkat keras serta operasi-operasi dasar sistem, termasuk menjalankan software aplikasi seperti program-program pengolah kata dan browser web.
      section
        h3.bullet Sistem Operasi secara umum terdiri dari beberapa bagian:
          ol
           li Mekanisme Boot, yaitu meletakkan kernel ke dalam memory
           li Kernel, yaitu inti dari sebuah Sistem Operasi. 
           li Command Interpreter atau shell, yang bertugas membaca input dari pengguna
           li Pustaka-pustaka, yaitu yang menyediakan kumpulan fungsi dasar dan standar yang dapat dipanggil oleh aplikasi lain
           li Driver untuk berinteraksi dengan hardware eksternal, sekaligus untuk mengontrol mereka.
      section
        image(src="image/1.png" style="width: 110%")
      section
        image(src="image/2.png")
      section
        h3 Sistem operasi-sistem operasi utama yang digunakan komputer sistem umum (termasuk PC, komputer personal) terbagi menjadi 3 kelompok besar:
      section(data-bespoke-hash='Microsoft')
        h3 Keluarga Microsoft Windows - yang antara lain terdiri dari Windows Desktop Environment (versi 1.x hingga versi 3.x), Windows 9x (Windows 95, 98, dan Windows ME), dan Windows NT (Windows NT 3.x, Windows NT 4.0, Windows 2000, Windows XP, Windows Server 2003, Windows Vista, Windows Server 2008, Windows 7 (Seven) dan Windows 8, Windows CE (Windows Embedded Compact), Windows Embedded Systems.
      section
        h3.bullet Keluarga Unix yang menggunakan antarmuka sistem operasi POSIX, seperti SCO UNIX, keluarga BSD (Berkeley Software Distribution), GNU/Linux, MacOS/X (berbasis kernel BSD yang dimodifikasi, dan dikenal dengan nama Darwin) dan GNU/Hurd.
        h3.bullet GNU : Unix like operating system.
        h3.bullet Linux Distribution :
        h3.bullet - Debian, Knoppix, Ubuntu, Gentoo, Pacman, SuSe, Fedora, Red Hat Enterprise, Mandriva, Slackware dll
      section
        image(src="image/3.png")
      section
        h3.bullet Mac OS, adalah sistem operasi untuk komputer keluaran Apple yang biasa disebut Mac atau Macintosh. Versions of Mac OS X:
        ul
          li Mac OS 10 (Cheetah)
          li Mac OS 10.1 (Puma)
          li Mac OS 10.2 (Jaguar)
          li Mac OS 10.3 (Panther)
          li Mac OS 10.4 (Tiger)
          li Mac OS 10.5 (Leopard)
          li Mac OS 10.6 (Snow Leopard)
          li Mac OS 10.7 (Lion) 
          li Mac OS 10.8 (Mountain Lion)
          li Mac OS 10.9 (Mavericks)
      section
        image(src="image/4.png" style="width: 110%")      
      section
        h3.bullet  Sedangkan komputer Mainframe, dan Super komputer menggunakan banyak sekali sistem operasi yang berbeda-beda, umumnya merupakan turunan dari sistem operasi UNIX yang dikembangkan oleh vendor seperti IBM AIX, HP/UX, dll.
      section
        image(src="image/5.png")      
      section  
        h3.bullet Operating systems can be classified as follows:
        ol
          li multi-user : Allows two or more users to run programs at the same time. Some operating systems permit hundreds or even thousands of concurrent users.
          li multiprocessing : Supports running a program on more than one CPU.
          li multitasking : Allows more than one program to run concurrently.
          li multithreading : Allows different parts of a single program to run concurrently.
          li real time: Responds to input instantly. General-purpose operating systems, such as DOS and UNIX, are not real-time.

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    script(src='scripts/dcomputare.js')
    // endbuild