doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Pengamanan Pada File

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild
  body(class="cube" id="#main")
    <div class="header">
    p Pilih Persentasi:  <select onchange="location.href=this.options[this.selectedIndex].value">
    <option value="index.html">Keamanan Jaringan</option></a>
    <option value="Pengamanan Pada Linux.html">Pengamanan Pada Linux</option></a>
    <option value="Pengamanan Pada Windows.html">Pengamanan Pada Windows</option></a>
    <option value="" selected="1">Pengamanan Pada File</option></a>
    <option value="Pengamanan Pada Registry.html">Pengamanan Pada Registry</option></a>
    </select>    
    <select id="menu1" name="menu1">
    <option value="#1" selected="selected">Slide 1</option></a> 
    <option value="#2">Slide 2</option></a>
    <option value="#3">Slide 3</option></a>
    <option value="#4">Slide 4</option></a>
    <option value="#5">Slide 5</option></a>
    <option value="#6">Slide 6</option></a>
    <option value="#7">Slide 7</option></a>
    <option value="#8">Slide 8</option></a>
    <option value="#9">Slide 9</option></a>
    <option value="#10">Slide 10</option></a>
    <option value="#11">Slide 11</option></a>
    <option value="#12">Slide 12</option></a>
    <option value="#13">Slide 13</option></a>
    <option value="#14">Slide 14</option></a>
    <option value="#15">Slide 15</option></a>
    </select>
    </div>
    article

      section
        h1 Pengamanan Pada File
        h2 Orange Team
      section
        h2 Pengamanan di dalam Komputer
      section  
        h3.bullet A. Perlindungan akses file/ folder
        ol
          li Menggunakan password. Biasanya setiap aplikasi untuk pemrosesan dokumen mempunyai fitur untuk mengamankan dokumen tersebut dengan password. Password tersebut bahkan dibagi untuk read-only atau pun untuk modifikasi.
          li Menentukan akses files/folder sesuai dengan user yang ditentukan. Fitur ini ada pada keluarga Windows NT dan Linux.
          li Menggunakan  program third party seperti AxCrypt, WinCry, Folder Guard dll. Program third party tersebut mendukung enkripsi files dan folder bahkan mendukung penghapusan files secara aman (secure deletion)
      section
        h3.bullet B.Perlindungan data/files dari kerusakan dan kehilangan
        h3.bullet Pengamanan file di dalam komputer tidak ada gunanya bila komputer itu rusak atau dicuri. Salah satu cara terbaik untuk mencegah hal tersebut terjadi adalah dengan membuat backup atau   cadangan data tersebut.
      section  
        h3.bullet Beberapa cara dan media yang digunakan untuk backup :
        ul 
          li Backup ke disket. Cara yang sederhana tapi bermasalah. Disket hanya memuat 1.44 MB: jumlah kecil bila dibanding dengan jumlah data di harddisk. Disket juga dapat dihapus oleh orang lain, atau rusak atau terserang jamur (apalagi kalau disimpan lama). 
          li Backup ke CD-ROM/DVD. CD-ROM cocok untuk jumlah data cukup besar (sampai 650 MB setiap disk). Sekarang CD-ROM murah, dan CD-writer cukup umum. Ada dua macam CD-ROM, yaitu CD-R (read only), yang dapat ditulisi sekali saja dan CD-RW (read-write) yang dapat ditulisi berulang-ulang. 
      section
        h4.bullet Pada umumnya, CD-R lebih aman daripada CD-RW. Untuk menyimpan dokumen yang sudah selesai (seperti terbitan atau data penelitian yang sudah berakhir), sebaiknya menggunakan CD-R. Untuk menyimpan dokumen yang masih dikerjakan, gunakanlah CD-RW. Hal ini juga berlaku untuk DVD-ROM dimana kapasitas DVD :
        br
        ol
          li DVD-5      4.70GB Single sided, Single layer
          li DVD-9      8.54GB Single sided, Dual layer
          li DVD-10     9.40GB Double sided, Single layers
          li DVD-14     13.24GB Double sided, One side single layer, one side dual layer
          li DVD-18  17.08GB Double sided, Dual layer
        p.bullet Kapasitas BluRay Disc :Standart Disc 25 GB (single layer), 50 GB (dual layer)
      section
        ul  
          li Backup ke jaringan. Anda dapat menyimpan copy file anda ke komputer lain di jaringan. Sebaiknya salah satu komputer di jaringan ditujukan sebagai tempat penyimpanan backup ataupun ke komputer yang berfungsi sebagai SERVER. Mungkin usaha backup berkala dapat ditangani oleh Administrator jaringan. 
          li Backup ke Internet. Anda dapat menyimpan file penting di server di Internet. Kalau disimpan di situs anda, maka cukup aman, karena penyedia jasa internet mempunyai prosedur pengamanan yang teratur. Anda juga dapat menyewa tempat tambahan di server penyedia jasa sebagai tempat penyimpanan. File yang tersimpan di server itu dapat dilindungi dengan password, dan anda diberi fasilitas FTP supaya dapat menyimpan dan memperoleh kembali file itu. Contohnya : FTP Server, Rapidshare, Megaupload,Filefactory, Deposit files dll.
          li Backup ke media lain. Media lain yang dapat digunakan termasuk pita, zip-disk dan harddisk tambahan. 
      section 
          h3 Pita cocok untuk jumlah data sangat besar (diukur dalam gigabyte), tapi di Indonesia cenderung terserang jamur bila tidak disimpan di ruangan ber-AC. Pita memerlukan drive. Beberapa jenis tape backup :
      section
          ol(style="text-align:left")
            li QIC
              p(style="margin: 0 0px 0px") QIC quarter-inch cartridge linear tape mempunyai kapasitas 80 MB - 2 GB
            li DAT
              p(style="margin: 0 0px 0px") DAT (Digital Audio Tape) mempunyai kapasitas 20 GB
            li 8mm mempunyai kapasitas 3.5 - 14 GB
            li Mammoth
              p(style="margin: 0 0px 0px") Mammoth 2 have a capacity of 60GB with 150GB compressed, Mammoth-3 which will have a capacity of 625GB and data transfer rate of 60MBps.
            li AIT technology
              p(style="margin: 0 0px 0px") AIT (Advanced Intelligent Tape) introduced by Seagate and Sony is based on 8mm technology and represent a new 8mm technology known as Advanced Intelligent Tape (AIT). AIT-3 can store 100GB, 260GB compressed with a 12 MBps data rate.
      section
        image(src="image/6.png")
        image(src="image/7.png")
      section
        h3 Zip-disk (buatan Iomega) dapat memuat 100 MB atau 250 MB dan terakhir berukuran 750 MB: cukup (misalnya) untuk suatu buku atau data proyek penelitian. Zip-disk memerlukan drive khusus. Sekarang cenderung diganti dengan CD-ROM yang lebih murah dan lebih umum. 
      section
        image(src="image/8.png")
        image(src="image/9.png")
      section
        h3 Harddisk tambahan yang eksternal / portable (dapat dipindah-pindahkan) cocok untuk jumlah data yang besar. 
      section
        h3 USB Flash drive, Flash memory combines a number of older technologies, with lower cost, lower power consumption and small size made possible by advances in microprocessor technology. 
      section
        h3 The memory storage was based on earlier EPROM and EEPROM technologies.Kapasitas flash drive bisa mencapai 256 GB. Interfacenya adalah USB 1.1 (1.5 Mbit-12 Mbit/s) atau 2.0 (480 Mbit/s atau 60 MB/s).
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    script(src='scripts/dcomputare.js')
    // endbuild