doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Pengamanan Pada Windows

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body
    <div class="header">
    p Pilih Persentasi:  <select onchange="location.href=this.options[this.selectedIndex].value">
    <option value="index.html" >Keamanan Jaringan</option></a>
    <option value="Pengamanan Pada Linux.html">Pengamanan Pada Linux</option></a>
    <option value="" selected="1">Pengamanan Pada Windows</option></a>
    </select>
    </div>
    article
     section
        h1 Pengamanan pada Sistem Operasi Windows
      section
        h2.bullet Komponen Arsitektur Keamanan Windows :
      section
        h2.bullet Adminisrasi User dan Group
        h3.bullet Jenis Account User :
        p
          ul
            li Administrator 
            li Guest
            li User 
      section
        h3.bullet Jenis Account Gorup :
        p
          ul
            li Administrator 
            li Guest
            li User
            li Operator back-up
            li Power user
            li Operator server
            li Operator account
            li Operator printer
      section
        h3.bullet Hak User / Grup :
        ul
          li Hak basic : acces computer from network, back-up files/directory, change system time, logon locally, manage auditing and security, log (event viewer), restore files and directory, shutdown system, take ownership files or other object, dll.
          li Hak advance : access service and kernel untuk kebutuhan pengembangan system.
      section
        h2.bullet Model Keamanan Windows
        h3.bullet LSA (Local security Authority) : menjamin user memiliki hak untuk mengakses system. Inti keamanan yang menciptakan akses token, mengadministrasi kebijakan keamanan local dan memberikan layanan otentikasi user. 
        h3.bullet Proses logon : menerima permintaan logon dari user (logon interaktif dan logon remote), menanti masukan username dan password yang benar. Dibantu oleh Netlogon service.
      section 
        h3.bullet Security Account Manager (SAM) : dikenal juga sebagai directory service database, yang memelihara database untuk account user dan memberikan layan validasi untuk proses LSA.
        h3.bullet Security Reference Monitor (SRM) : memeriksa status izin user dalam mengakses, dan hak user untuk memanipulasi obyek serta membuat pesan-pesan audit.
      section
        h2.bullet Keamanan Sumber daya lokal
        h3.bullet Obyek dalam Windows  [file, folder (directory), proses, thread, share dan device], masing-masing akan dilengkapi dengan <strong>Obyek Security Descriptor</strong>
      section
        h3.bullet Obyek Security Descriptoryang terdiri dari :
        ul
          li Security ID Owner : menunjukkan user/grup yang memiliki obyek tersebut, yang memiliki kekuasaan untuk mengubah akses permission terhadap obyek tersebut.
          li Security ID group : digunakan oleh subsistem POSIX saja.
          li Discretionary ACL (Access Control List) : identifikasi user dan grup yang diperbolehkan / ditolak dalam mengakses, dikendalikan oleh pemilik obyek.
          li System ACL : mengendalikan pesan auditing yang dibangkitkan oleh system, dikendalikan oleh administrator keamanan jaringan.
      section
        h2 Keamanan Jaringan
      section
        h2.bullet Jenis Keamanan Jaringan Windows
        ul
          li Model keamanan user level : account user akan mendapatkan akses untuk pemakaian bersama dengan menciptakan share atas directory atau printer.
          li Model keamanan Share level : dikaitkan dengan jaringan peer to peer, dimana user manapun membagi sumber daya dan memutuskan apakah diperlukan password untuk suatu akses tertentu.
      section
        h2.bullet Cara Windows menangani keamanan jaringan:
      section
        ol
          li Memberikan permission
          ul
            li Permission NTFS local
            li Permission shere
          li Keamanan RAS (Remote Access Server)<br/>Melakukan remote access user menggunakan dial-up :
          ul
            li Otentikasi user name dan password yang valid dengan dial-in permission.
            li Callback security : pengecekan nomor telepon yang valid. 
            li Auditing : menggunakan auditing trails untuk melacak ke/dari siapa, kapan user memiliki akses ke server dan sumberdaya apa yang diakses.
      section
        ol
          li Pengamanan Layanan internet :
          ul
            li Firewall terbatas pada Internet Information server (IIS).
            li Menginstal tambahan proxy seperti Microsoft Proxy server.
          li Share administrative : memungkinkan Administrator mendapatkan akses ke server windows atau workstation melalui jaringan
      section
        h2 Keamanan pada printer
      section
        h3.bullet Dilakukan dengan mensetting properties printer :
        ul
          li Menentukan permission : full control, Manage document, print
          li Biasanya susunan permission pada Windows secara default :
          ul
            li Adminstrator – full control
            li Owner – Manage document
            li Semua user – print
          li Mengontrol print job, terdiri dari :
          ul
            li Setting waktu cetak
            li Prioritas
            li Notifikasi (orang yang perlu diberi peringatan)
          li Set auditing information
      section
        h2 Keamanan Registry
      section
        h3.bullet Tools yang disediakan dalam pengaksesan registry :
        ul
          li System policy editor : mengontrol akses terhadap registry editor, memungkinkan administrator mengedit dan memodifikasi value tertentu dalam registry dengan berbasis grafis.
          li Registry editor (regedit32.exe) : tools untuk melakukan edit dan modifikasi value dalam registry.
          li Windows NT Diagnostics (winmsd.exe) : memungkinkan user melihat setting isi registry dan valuenya tanpa harus masuk ke registry editor sendiri.
      section
        h3.bullet Tools backup untuk registry yaitu :
        ul
          li Regback.exe memanfaatkan command line / remote session untuk membackupr registry.
          li ntbackup.exe : otomatisasi backup HANYA pada Tape drive, termasuk sebuah kopi dari file backup registry local.
          li Emergency Repair Disk (rdisk.exe) : memback-up hive system dan software dalam registry.
      section
        h2.bullet Audit dan Pencatatan Log
        ul
          li Pencatatan logon dan logoff  termasuk pencatatan dalam multi entry login
          li Object access (pencatatan akses objek dan file)
          li Privilege Use (paencatatan pemakaian hak user)
          li Account Management (manajemen user dan group)
          li Policy change (Pencatatan perubahan kebijakan keamanan)
          li System event (pencatatan proses restart, shutdown dan pesan system)
          li Detailed tracking (pencatatan proses dalam system secara detail)
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild