doctype html
html
	head
		meta(name='viewport', content='width=device-width')
		title Hiren's Bootable CD
		link(rel='stylesheet', type='text/css', href='styles/style.css')
		link(rel='stylesheet', type='text/css', href='styles/themes.css')
		link(ref='http://fonts.googleapis.com/css?family=Raleway+Dots', rel='stylesheet', type='text/css')

	body.coverflow
		div#main
			header
			<a href="https://github.com/markdalgleish/bespoke.js">
			h1 Bespoke.js
			h2 DIY Presentation Micro-Framework
			</a>
			p.hidden span#input-method Press up and down keys to view example themes.

			article
				section
				section
				section
				section
				section
				section
				section
				section
				section
				section
				section
				section
				section
				section
				section
				section
				section
				section
				section
				section
				section
				section
				section
				section
				section
				section


		div#forkme
			<a href="https://github.com/markdalgleish/bespoke.js">Fork me on GitHub</a>

		footer
			div.credits
				<a href="http://twitter.com/markdalgleish"><img src="profile.jpg" alt="Mark Dalgleish"></a>
				p Lovingly crafted by <a href="http://twitter.com/markdalgleish">@markdalgleish</a>

			div.themes
				p
					<strong>Example Theme
					span.colon : 
				div#up-arrow.up.arrow ^
				div#down-arrow.down.arrow ^

			script(src='bower_components/bespoke.js/demo/demo.js')
			script(src='bower_components/bespoke.js/src/bespoke.js')